@model UserRoleViewModel


<h2>Add Users in Role</h2>
<form asp-controller="Admin" asp-action="AddUserToRole" method="post" class="form-control">
    <input type="hidden" name="roleId" value="@Model.RoleId"/>
    <select asp-for="UserId"
            asp-items="@(new SelectList(Model.Users, "Id", "UserName"));">
        <option>Select A User</option>
    </select>
    <input class="btn btn-primary" value="Add User To Role" type="submit"/>
</form>

<a asp-action="RoleManagement" class=" btn btn-primary">Done</a>